@{
    Layout = null;
}

<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>添加用户</title>
    <meta name="description" content="添加用户">
    <meta name="keywords" content="添加用户">
    @Html.Partial("~/Views/Common/SharePart.cshtml")

    <style>
        #vld-tooltip {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1000;
            padding: 5px 10px;
            background: #F37B1D;
            min-width: 150px;
            color: #fff;
            transition: all 0.15s;
            box-shadow: 0 0 5px rgba(0,0,0,.15);
            /*display: none;*/
        }

            #vld-tooltip:before {
                position: absolute;
                top: -8px;
                left: 50%;
                width: 0;
                height: 0;
                margin-left: -8px;
                content: "";
                border-width: 0 8px 8px;
                border-color: transparent transparent #F37B1D;
                border-style: none inset solid;
            }
    </style>
</head>
<body>
    <header class="am-topbar admin-header">
        @Html.Partial("~/Views/Common/TopBar.cshtml")
    </header>
    <div class="am-cf admin-main">
        <!-- sidebar start -->
        @*@Html.Partial("~/Views/Common/SideBar.cshtml")*@
        <!-- sidebar end -->
        <!-- content start -->
        <div class="admin-content">
            <ol class="am-breadcrumb">
                <li><a href="~/Home/IndexPage" class="am-icon-home">首页</a></li>
                <li><a href="~/UserInfo/IndexPage">用户管理</a></li>
                <li class="am-active">添加用户</li>
            </ol>
            <hr />
            <div class="am-g">
                <div class="am-u-sm-12 am-u-md-4 am-u-md-push-8">
                    <div class="am-panel am-panel-default">
                        <div class="am-panel-bd">
                            <div class="am-g">
                                <div class="am-u-md-4">
                                    <img class="am-img-circle am-img-thumbnail" src="http://s.amazeui.org/media/i/demos/bw-2014-06-19.jpg?imageView/1/w/200/h/200/q/80" alt="" />
                                </div>
                                <div class="am-u-md-8">
                                    <p>你可以使用<a href="#">gravatar.com</a>提供的头像或者使用本地上传头像。 </p>
                                    <form class="am-form">
                                        <div class="am-form-group am-form-file">
                                            <button id="uploadFileButton" type="button" class="am-btn am-btn-danger am-btn-sm">
                                                <i class="am-icon-cloud-upload"></i> 选择要上传的文件
                                            </button>
                                            <input id="doc-form-file" type="file" accept="image/gif, image/jpeg, image/png">

                                            <button id="uploadImg" type="button" style="display:none" class="am-btn am-btn-danger am-btn-sm">
                                                <i class="am-icon-cloud-upload"></i> 开始上传
                                            </button>
                                            <button id="exitUpload" type="button" style="display:none" class="am-btn am-btn-danger am-btn-sm">
                                                <i class="am-icon-remove"></i> 取消
                                            </button>
                                        </div>
                                        <div id="file-list"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="am-u-sm-12 am-u-md-8 am-u-md-pull-4">
                    <form class="am-form am-form-horizontal" id="formAddUserInfo">
                        <div class="am-form-group">
                            <label for="user-name" class="am-u-sm-3 am-form-label"><span style="color:red">*</span> 角色</label>
                            <div class="am-u-sm-9">
                                <label class="am-radio-inline">
                                    <input type="radio" value="1" name="userRole" checked="checked"> 普通用户
                                </label>
                                <label class="am-radio-inline">
                                    <input type="radio" value="2" name="userRole"> 管理员
                                </label>
                            </div>
                        </div>

                        <div class="am-form-group am-form-warning">
                            <label for="user-name" class="am-u-sm-3 am-form-label"><span style="color:red">*</span> 用户名</label>
                            <div class="am-u-sm-9">
                                <input type="text" class="required" id="user-name" placeholder="登录系统时使用的帐号名" data-foolish-msg="该用户名已存在！">
                            </div>
                        </div>
                        <div class="am-form-group am-form-error">
                            <label for="user-name" class="am-u-sm-3 am-form-label"><span style="color:red">*</span> 登录密码</label>
                            <div class="am-u-sm-9">
                                <input type="password" class="required am-field-error" id="user-password" placeholder="设置一个密码吧">
                            </div>
                        </div>
                        <div class="am-form-group am-form-warning">
                            <label for="user-name" class="am-u-sm-3 am-form-label"><span style="color:red">*</span> 确认密码</label>
                            <div class="am-u-sm-9">
                                <input type="password" class="required am-form-field" id="user-repassword" placeholder="请再输入一次密码" data-foolish-msg="两次输入的密码不一致！">
                            </div>
                        </div>
                        <div class="am-form-group">
                            <label for="user-name" class="am-u-sm-3 am-form-label">姓名</label>
                            <div class="am-u-sm-9">
                                <input type="text" id="user-realname" placeholder="用户真实姓名">
                            </div>
                        </div>
                        <div class="am-form-group">
                            <label for="user-email" class="am-u-sm-3 am-form-label">电子邮件</label>
                            <div class="am-u-sm-9">
                                <input type="email" id="user-email" placeholder="用户的电子邮件">
                            </div>
                        </div>
                        <div class="am-form-group">
                            <label for="user-QQ" class="am-u-sm-3 am-form-label">QQ</label>
                            <div class="am-u-sm-9">
                                <input type="text" id="user-QQ" placeholder="用户的QQ号码">
                            </div>
                        </div>
                        <div class="am-form-group">
                            <label for="user-phone" class="am-u-sm-3 am-form-label">手机号</label>
                            <div class="am-u-sm-9">
                                <input type="tel" id="user-phone" placeholder="用户的手机号" data-foolish-msg="手机号格式不正确！">
                            </div>
                        </div>
                        <div class="am-form-group">
                            <div class="am-u-sm-9 am-u-sm-push-3">
                                <button id="btncommit" type="button" class="am-btn am-btn-primary">确认添加</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- content end -->
    </div>
    @Html.Partial("~/Views/Common/FootPart.cshtml")
</body>
</html>
<script>

    var $tooltip = $('<div id="vld-tooltip">提示信息！</div>');
    $(function () {
        $tooltip.appendTo(document.body);
        $tooltip.hide();
        bindFunction();

    });

    // 绑定事件
    function bindFunction() {
        // 选择图片
        $('#doc-form-file').on('change', function () {
            if (this.files.length == 0) {
                return false;
            }
            var fileName = this.files[0].name;
            if (fileName && fileName.length > 15) {
                fileName = fileName.substr(0, 14) + "..."
            }
            $('#file-list').html('<span class="am-badge" maxlength=5>' + fileName + '</span> ');

            $('#doc-form-file').hide();
            $('#uploadFileButton').hide();
            $('#uploadImg').show();
            $('#exitUpload').show();
        });

        // 上传图片
        $('#uploadImg').click(function () {
            $('#uploadImg>i').attr('class', "am-icon-spinner am-animation-spin");
            $('#exitUpload').hide();
            $('#uploadImg').attr("disabled", true);

            // 这里写访问服务器事件
            //showUploadFileButton()
        });

        // 取消上传
        $('#exitUpload').click(function () {
            showUploadFileButton()
        });
    }

    // 显示提示信息
    function showToolTips($obj, msg) {
        var offset = $obj.offset();
        var msg = msg || $obj.data('foolishMsg');

        $tooltip.text(msg).show().css({
            left: offset.left + 10,
            top: offset.top + $tooltip.outerHeight() + 10
        });
    }

    // 隐藏提示信息
    function hideToolTips() {
        $tooltip.text("提示信息").hide();
    }

    // 显示上传和取消按钮
    function showUploadFileButton() {
        $('#uploadImg>i').attr('class', "am-icon-cloud-upload");
        $('#uploadImg').hide();
        $('#exitUpload').hide();
        $('#doc-form-file').show();
        $('#uploadFileButton').show();
        // 清空文件域
        var file = $("#doc-form-file");
        file.after(file.clone(true).val(""));
        file.remove();

        $('#file-list').html('');
    }
</script>
