@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Pay</title>
</head>
<body>
    <div>
        来来来，过来剁手了，@("总共花了" + ViewBag.Price + "元");
    </div>
</body>
</html>
